.productPageSection {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  background-color: rgb(212, 212, 212);
}

.productDiv {
  width: 97.8%;
  display: flex;
  margin-top: 50px;
  margin-left: 40px;
  gap: 3rem ;
  height: 64vh;
}

.nameAndImage {
  background-color: white;
  width: 40%;
  max-height: 600px;
  display: flex;
  flex-flow: column;
  box-shadow: 1px 1px 5px black;
  align-items: center;
  gap: 8rem;
}

.productName {
  margin: 10px 20px 0 20px 
}

.productImg {
  width: 50%;
  /* margin-top: auto; */
}

.infoAndPrice {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  margin-right: 80px;
}

.productInfoDiv {
  height: 50%;
  margin: 30px 0 0 30px;
}

.productAddDiv {
  display: flex;
  margin: 20px 0 0 30px;
  gap: 2rem;
  align-items: center;
}

.addRemoveDiv {
  display: flex;
  gap: 5px;
}

.addToCart {
  margin-left: 20px;
  cursor: pointer;
  height: 30px;
  width: 200px;
  border: none;
  border-radius: 2px;
  box-shadow: 1px 1px 5px rgb(43, 46, 43);
  background-color: rgb(116, 235, 116);
  font-weight: bold;
 
  &:active {
   box-shadow: 1px 1px 3px rgb(2, 7, 77);
  }
}

.remove {
  font-size: 20px;
}

.remove:active {
  color: rgb(167, 167, 167);
}

.add {
  font-size: 20px;
}

.add:active {
  color: rgb(167, 167, 167);
}

.stock {
  margin-left: 30px;
  margin-top: 10px;
}

.rateSection {
  background-color: rgba(120, 120, 219, 0.116);
  border: 1px solid rgba(0, 0, 0, 0.329);
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.rateTitle{
  margin-top: 30px;
}

.rateForm {
  background-color: rgba(128, 128, 128, 0.349);
  padding: 15px 15px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 1px 1px 4px;
}

.selInfos {
  display: flex;
  flex-direction: column;
}

.rateTextarea {
  resize: none;
  border-radius: 5px;
}

.rateEmail {
  width: 200px;
  height: 30px;
  margin-left: 5px;
  text-align: center;
  border: none;
  border-radius: 3px;
}

.rateName {
  width: 200px;
  height: 30px;
  margin-left: 5px;
  text-align: center;
  border: none;
  border-radius: 3px;
}

.rateBtnDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.rateBtn {
  cursor: pointer;
  height: 30px;
  width: 200px;
  border: none;
  border-radius: 2px;
  box-shadow: 1px 1px 5px rgb(43, 46, 43);
  background-color: rgb(116, 235, 116);
  font-weight: bold;
 
  &:active {
   box-shadow: 1px 1px 3px rgb(2, 7, 77);
  }
}

.rateName {
  margin-top: 5px;
  margin-left: 9.5px;
  height: 30px;
  width: 200px;
}

.rates {
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  min-height: 400px;
  width: 80%;
  background-color: white;
  gap: 15px
}

.rateDiv {
  background-color: rgba(0, 0, 0, 0.055);
  border-bottom: solid rgba(0, 0, 0, 0.144) 1px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 20px;
  padding-bottom: 10px;
  width: 50%;
}

.rate {
  margin: 10px 0 0 10px;
}

.rateDiv:last-child {
  margin-bottom: 15px;
}