.finishSection {
  display: flex;
  justify-content: center;
  flex-grow: 0.8;
  margin: 0 auto;
  align-items: center;
}

.finishForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background-color: antiquewhite;
  min-height: 50%;
  width: 50%;
  border: solid 1px rgba(128, 128, 128, 0.267);
  border-radius: 5px;
}

.formChildrens {
  margin-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.paymentMethods {
  display: flex;
  gap: 20px;
  width: 90%;
}

.finishBtn {
  font-size: 18px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 30px;
  width: 50%;
  border: none;
  border-radius: 2px;
  box-shadow: 1px 1px 5px rgb(43, 46, 43);
  background-color: rgb(116, 235, 116);
  font-weight: bold;
 
  &:active {
   box-shadow: 1px 1px 3px rgb(2, 7, 77);
  }
}

.infoInputs {
  max-width: 40%
}

.select {
  margin-left: 4px;
}

.icons {
  font-size: 50px;
}

.slipInput {
  display: flex;
  gap: 10px;
}

.credtCardDiv {
  display: flex;
  gap: 10px;
}

.paymentCards {
  display: flex;
  flex-flow: column wrap;
}

.credtCardDiv {
  display: flex;
  flex-wrap: wrap;
}

.cards {
  display: flex;
  gap: 10px;
}