.header {
  background-color: blue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
}

.searchDiv {
  width: 300px;
}

.searchForm {
  display: flex;
  justify-content: center;
}

.searchInput {
  border: none;
  height: 35px;
  min-width: 200px;
  text-align: center;
}

.searchButton {
  background-color: white;
  border: none;
  height: 35px;
  width: 35px;
}

.logoDiv {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

.logo {
  font-size: 80px;
  color: green;
}

.nameDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.nameDiv h1 {
  color: white;
}

.nameDiv p {
  color: rgb(0, 192, 0);
  font-size: 22px;
}

.cartDiv {
  width: 300px;
  display: flex;
  justify-content: center;
}

.cartIcon {
  font-size: 30px;
}

.cartNumber {
  align-items: center;
  background-color: rgb(102, 216, 102);
  border-radius: 100%;
  color: white;
  display: flex;
  font-size: 15px;
  font-weight: bold;
  justify-content: center;
  min-height: 15px;
  margin-left: 20px;
  position: absolute;
  min-width: 15px;
  text-decoration: none;
}

.cartLink {
  text-decoration: none;
  color: white;
}