.productCard {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 15px 0;
  border-bottom: 1px solid black;
}

.removeItem {
  margin: 0 10px
}

.removeItem :active {
  color: rgba(128, 128, 128, 0.575);
}

.productImage {
  width: 100px;
}

.productName {
  width: 150px;
  margin: 0 10px;
}

.count {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  background-color: grey;
  color: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price {
  font-size: 20px;
  margin-left: 10px;
}
.itemLink {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  margin: 0 10px;
}