.emtyCartDiv {
  display: flex;
  height: 80vh;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.emtyCartDiv h1 {
  font-size: 40px;
}

.emtyCartDiv p {
  font-size: 18px;
}